.signup {
  width: 100vw;
  height: 100vh;
}

.signup .semicircle {
  position: absolute;
  width: 100vw;
  height: 100vh;
  transform: translateX(-50%);
  transform: rotateZ(90deg);

  background-color: antiquewhite;
}

.signup .opening {
  position: relative;
  top: 190px;
  text-align: center;
}

.signup .opening h1 {
  font-size: 100px;
  font-weight: 200;

  transform: translateY(90px);

  animation: 
    fadeIn 1.5s ease-in forwards,
    moveUp 1.5s ease-out forwards;
}

.signup .opening .signup-link {
  opacity: 0;

  animation: 
    fadeIn 3.0s ease-in forwards;
}

.signup .signup-link span {
  font-size: 40px;
  font-weight: 200;
  color: #757575;
}

.signup .signup-link button {
  margin-left: 10px;
  transform: translateY(-11px);
}

@keyframes moveUp {
  from { transform: translateY(90px); }
  to { transform: translateY(0); }
}

.signup .container {
    height: 100vh;
}

.signup .bubble {
    margin: 0 auto;
    height: 80vh;
    width: 60%;
    border-radius: 10px;
    padding: 50px;

    animation:
        scaleIn 0.4s ease-in-out forwards;
}

@keyframes scaleIn {
    from { transform: scale(0); }
    to { transform: scale(1); }
}

/* .signup .input-field {

} */

