.hero h1 {
  width: fit-content;
  position: relative;
  top: 50px;
  left: 50px;
  margin: 0;
  font-size: 280px;
  font-weight: 300;
  font-family: 'Work Sans', sans-serif;
}

@media only screen and (max-width: 1160px) {
  .hero h1 {
    font-size: 20vw;
    top: 40vh;
    transform: translateY(-50%);
  }
}

/* Cube */

.wrapper{
  position: absolute;
  top: 80px;
  right: 2%;
  perspective: 800px;
  perspective-origin: 50% 50%;
  
  margin: 0 auto;
  width: 400px;
  height: 400px;
  z-index: 2;
  overflow: hidden;
}

.poswrap{
  transform-style: preserve-3d;
  position: absolute;
  left:50%;
  top: 5%;
}

.tran1{
  transform-style: preserve-3d;
  transform: rotateX(35.3deg);
}

.tran2{
  transform-style: preserve-3d;
  transform: rotateZ(45deg);
}

/* - - - - - Animation - - - - - */

.floatwrap{
  transform-style: preserve-3d;
  animation: float 10s infinite cubic-bezier(.5, 0, .5, 1);

}

.spinwrap{
  transform-style: preserve-3d;
  animation: spin 10s infinite linear;
}

/* - - - - - Cube properties - - - - - */

.hero .cube{
  position: absolute;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  top: 50%;
  left: 50%;
}

.hero .cube_face{
  position: absolute;
  top: -100;
  left: -100;
  transform-origin: center;
  
  width: 200px;
  height: 200px;
  background-color: #333;
  box-shadow: 0px 0px 0px 2px #fff inset;
  
  text-align: center;
  font-size: 40px;
  line-height: 50px;
  color: RGBA(255, 255, 255, 0);

}


/* - - - - - Additional cube styling - - - - - */

.hero .cube :nth-child(even){
  background: linear-gradient(to top left, #666, #222 );
  color: linear-gradient(to top left, #666, #222 );
}

.hero .cube :nth-child(odd){
  background: linear-gradient(to top left, #666, #222 );
  color: linear-gradient(to top left, #666, #222 );
}

@keyframes facereflect{
  0%{background-color: #333;}
  10%{background-color: #666;}
  20%{background-color: #333;}
}


/* - - - - - Cube face transforms - - - - -
Front, Back, Left, Right, Top, Bottom*/

.hero .cube :nth-child(1){
  animation: facereflect 30s infinite linear;
  animation-delay: 0s;
  transform:
      translateZ(100px);
}
.hero .cube :nth-child(2){
  transform: rotateY(180deg)
      translateZ(100px)
       rotateZ(90deg);
}
.hero .cube :nth-child(3){
  animation: facereflect 30s infinite linear;
  animation-delay: 20s;
  transform: rotateY(-90deg)
      translateZ(100px)
             rotateZ(90deg);
}
.hero .cube :nth-child(4){
  transform: rotateY(90deg)
      translateZ(100px);
}
.hero .cube :nth-child(5){
  animation: facereflect 30s infinite linear;
  animation-delay: 10s;
  transform: rotateX(90deg)
      translateZ(100px)
             rotateZ(-90deg);
}
.hero .cube :nth-child(6){
  transform: rotateX(-90deg)
      translateZ(100px);
}